<!-- bulletin-soins.component.html -->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
   Ajouter bulletins de soins
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
       
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
<div class="container">
  <h2>Ajouter un bulletin de soins</h2>
  <form [formGroup]="bulletinSionsForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="matricule" class="form-label">Matricule du patient:</label>
      <input type="text" id="matricule" formControlName="matricule" class="form-control">
      <div *ngIf="submitted && formControls.matricule.errors" class="text-danger">
        <div *ngIf="formControls.matricule.errors.required">Le matricule du patient est requis.</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="codePrestataire" class="form-label">Code du prestataire:</label>
      <input type="text" id="codePrestataire" formControlName="codePrestataire" class="form-control">
      <div *ngIf="submitted && formControls.codePrestataire.errors" class="text-danger">
        <div *ngIf="formControls.codePrestataire.errors.required">Le code du prestataire est requis.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter bulletin de soins</button>
  </form>
</div>



      
      <div class="modal-body">
     
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<div class="container mt-5">
  <h2>Liste des bulletins de soins</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Matricule du patient</th>
        <th>Code du prestataire</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bulletin of bulletinsSions">
        <td>{{ bulletin.matricule }}</td>
        <td>{{ bulletin.codePrestataire }}</td>
        <td>
          <!-- Bouton Modifier -->
          <button class="btn btn-success me-2" (click)="modifierBulletinSions(bulletin.id)">
            <i class="bi bi-pencil"></i> Modifier
          </button>
          <!-- Bouton Supprimer -->
          <button class="btn btn-danger" (click)=" deleteBulletinSions(bulletin.id)">
            <i class="bi bi-trash"></i> Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Initialisation du Modal -->
<script>
  var myModal = new bootstrap.Modal(document.getElementById('myModal'), {});
  myModal.show();
</script>
</div>
